<!DOCTYPE html>
<html>
  <head>
    <title>Sheeple: Because people are followers at heart</title>
    <%= favicon_link_tag 'favicon.png' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
